{% extends "shared/base.html" %}


{% block title %} 
  <title>CS:GO Stats</title>
{% endblock %} 

{% block content %} 
  <div class="container">
    <h1 class="display-4" id='username'>Loading...</h1>
    <div id="active_users">
      <h3>Active Users</h3>
    </div>
  </div>

  <form action="/api/profile/csgo/" id="csgo-data" method="get">
      <label for="steamID">Enter Steam ID: </label>
      <input id="steamID" type="text" name="steamID">
      <input type="submit" value="Find My Stats!">
  </form>
{% endblock %} 