{% extends "shared/base.html" %}


{% block title %}
<title>CS:GO Stats</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  {% if user %}
  <h1 class="display-4" id='username'>Welcome back {{user.username}}!</h1>
  {% else %}
  <h1 class="display-4">Log in to see who is active!</h1>
  {% endif %}
</div>
<div class="row">
  <div class="col-4" id="sidebar" style="">
    <div id="active_users">
      <h3>Active Users</h3>
    </div>
  </div>
  <div class="col-8" id="content">

  </div>
  <form action="/api/profile/csgo/" id="csgo-data" method="get">
      <label for="steamID">Enter Steam ID: </label>
      <input id="steamID" type="text" name="steamID">
      <input type="submit" value="Find My Stats!">
  </form>
</div>
{% endblock %}