{% extends "shared/base.html" %}


{% block title %}
<title>CS:GO Stats</title>
{% endblock %}

{% block content %}
<div class="row pt-3">
    <div class="col-4 pt-3" id="sidebar" style="">
        <div>
            <h3>Active Users:</h3>
            <ul class="p-0" id="active_users"></ul>
            {% if not user %}
            <p>Log in to see who is active!</p>
            {% endif %}
        </div>
    </div>
    <div class="col-8 pt-3" id="content">
        <form action="/profile/" id="csgo-data" method="get">
            <label for="steamID">Enter Steam ID: </label>
            <input id="steamID" name="steamID" type="text">
            <input type="submit" value="Find My Stats!">
        </form>
    </div>

</div>

<!-- The Modal -->
<div class="modal" id="chatModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chatting with...</h4>
                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer input-group mb-3">
                <input autofocus class="form-control" id="messageBox" placeholder="Message" type="text">
            </div>
        </div>
    </div>
</div>

<a data-bs-recipient="" data-bs-target="#chatModal" data-bs-toggle="modal" href="#"></a>
{% endblock %}